body {
    /*background-color:#D2EFF5;*//*orig*/
    /*background-color:#000;*/
    background-color:#06799f;
    font-family: 'Tinos', sans-serif;
    font-size: 1em;
    /*background-color:#3aaacf;*/
}
div#floater {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 .3em 1em #000;
    -moz-box-shadow: 0 .3em 1em #000;
    -webkit-box-shadow: 0 .3em 1em #000;
}
div#header {
    background-color:#61B4CF;
    margin: 2% 0 0 0;
    width: auto;
    padding: 1em 0 1em 0;
    text-align:center;
    /*font-size: 1.75em;*/
    font-size: 175%;
}
div#content {
    /*background-color:#bdedff;*/
    background-color:#fff;
    margin: 0;
    width: auto;
    min-height: 300px;
    height: auto;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0.6%;
}

div#text {
    display: block-inline;
    padding-top: 5%;
    margin-right: auto;
    margin-left: auto;
    width: 95%;
}


ul#nav
{
    margin: 0px 0 0 0;
    padding: 0;
    background-color: #61B4CF;
    float:left;
}

#nav li
{
    display: inline;
    list-style-type: none;
    margin: 0;
}

#nav a { 
    padding: 0px 10px 1px 10px; 
}


#nav a:link, #nav a:visited
{
    color: black;
    /*background-color: #3aaacf;*/
    background-color: #61B4CF;
    text-decoration: none;
}

#nav a:hover
{
    color: black;
    /*background-color: #06799f;*/
    background-color: white;
    text-decoration: none;
}

#nav li#active a{
    background-color: white;
}


a#thumbnail{
    text-decoration: none;
    color: black; /*hyperlink changes border*/
}

div#footer{
    background-color: #61B4CF;
    padding: 3% 0 .9% 0;

}

div#footer img {
    display: block; /* allows for margin editing */
    margin-left: auto;
    margin-right: auto;
}
